<div class="wrapper">
    <div class="grid">
        <div class="grid__item" *ngFor="let item of items | search: searchKey">
            <div [routerLink]="['/item', item.id]">
                <div class="image">
                    <img src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}" alt="">
                </div>
                <div class="name">
                    <p>{{item.name ? item.name : item.title}}</p>
                </div>
            </div>
        </div>

    </div>
</div>